%div.navbar
  %div.navbar-inner
    %a.brand{:href => '/user-agents'} Agents
    %ul.nav
      %li.dropdown
        %a.dropdown-toggle{:'data-toggle' => 'dropdown', :href => '#', :role => 'button'} Group by
        %ul.dropdown-menu{:role => 'menu'}
          %li 
            %a{:href => '/user-agents?group-by=name'} Browser name
          %li 
            %a{:href => '/user-agents?group-by=os'} OS
          %li
            %a{:href => '/user-agents?group-by=device'} Device

%svg#chart
%script
  var errors = [
  - errors.each do |error|
    {time: '#{error[0]}', os: '#{error[3].os.to_s}', browser: '#{error[3].name.to_s}', device: '#{error[3].device.to_s}' }
    ,
  ];
%script{:src => '/javascripts/bootstraps/user-agents.js'}

%ul.unstyled
  - errors.each do |ua, count,| 
    %li <strong class="occurrence-count">#{count}:</strong> #{ua}